{% extends "layout.html" %}

{% block article_body %}

<div id="main-container">
  <div id="top_illo">
    <img src="./images/robotjobstransparent.jpg" alt="">
  </div>
  <div id="react-container"><div class="loadingMessage">Loading interactive...</div></div>
</div>

<div id="main-text">
  <div id="divider">* * *</div>
  {{ text.text1 | md }}
  <div id="example-jobs" class="o-grid-container--bleed">
    <div class="o-grid-row">
      <div class="example-jobs-container" id="example-jobs__automatable" data-o-grid-colspan="S6 12">
        <div class="example-jobs-container__label">Jobs that can be fully automated</div>
        <ul>
          <li>Meat packers</li>
          <li>Plasterers and stucco masons</li>
          <li>Ophthalmic lab technicians</li>
        </ul>
      </div>
      <div class="example-jobs-container" id="example-jobs__not-automatable" data-o-grid-colspan="S6 12">
        <div class="example-jobs-container__label">Jobs with no automatable activities</div>
        <ul>
          <li>Historians</li>
          <li>Mining roof bolters</li>
          <li>Clergy</li>
        </ul>
      </div>
    </div>
  </div>
  {{ text.text2 | md }}
</div>

<div id="methodology-text">
  <div class="anchor" id="methodology"></div>
  <h4>Methodology</h4>
  {{ text.methodology | md }}
</div>

<p><i>Illustrations by Maria Raymondsdotter</i></p>

{% endblock %}
