#activities-container {
  h2 {
    display: inline-block;
  }

  #activities-container__instructions {
    font-style: italic;
  }
  .o-forms__checkbox {
    width:28px;
    height:28px;
    background-color:#000000;
  }
}
