#activities-container {
  h2 {
    display: inline-block;
  }

  #activities-container__instructions {
    font-style: italic;
  }

  .o-forms {
    padding:0;
    max-width: none;

    p {
      margin-left:30px;
      margin-top: 2px;
      font-family: MetricWeb, sans-serif;
      line-height: 1em;
    }
  }

  .o-forms__checkbox+.o-forms__label::before, .o-forms__radio+.o-forms__label::before {
    width:36px;
    height:36px;
  }

  .o-forms__label::after  {
    width:36px;
    height:36px;
  }
}
