@import 'o-grid/main';

#search-container {
  margin: 0 auto;

  #category-container {
    width: 100%;
    margin-top: 1em;

    .category-dropdowns {
      margin-top: 1em;
      margin-bottom: 0;
    }

    label {
      display: none;
    }

    select {
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 0.5em;
      min-width: 200px;
      font-size: 1em;
      max-width: 260px;

      @include oGridRespondTo($until: S) {
        max-width: 220px;
      }
    }

  }

  .o-buttons {
    background-color: getColor('pink-tint4');
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 5px;

    &[data-id="random"]{
      background-color: getColor('purple-tint1');
    }

    &:focus {
      box-shadow: inset 0 0 4px 1px rgba(80,80,80,.7);
    }
  }
}
