@import 'o-grid/main';

.jobchosen {
  #scorecard-container {
    opacity: 1;
  }
}

#scorecard-container {
  margin-left: 10px;
  opacity: 0.2;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  padding-bottom: 0;
  border: 1px solid #e9decf;
  background: #fbf9f7;
  text-align: center;

  #scorecard__contents {
    margin: 0 auto;
  }

  h2 {
    display: inline-block;

    @include oGridRespondTo($until: S) {
      max-width: 200px;
    }
  }

  #scorecard__score {
    display: block;

    @include oGridRespondTo($until: S) {
      font-size: 0.9em;
    }

    img {
      max-width: 100px;

      @include oGridRespondTo($until: S) {
        display: none;
      }
    }

    #scorecard__score-text {
      display: inline-block;
      vertical-align: top;
      margin-left: 30px;
      text-align: left;

      @include oGridRespondTo($until: S) {
        margin-left: 0;
      }

      #scorecard__stats {
        font-size: 3em;
        font-weight: 200;
        margin-bottom: 20px;
      }

      #scorecard__line2 {
        font-size: 1.3em;
        width: 100%;
        max-width: 200px;
        color: #777777;
      }

      #scorecard__verdict {
        margin-top: 20px;
        font-size: 1em;
        width: 100%;
        max-width: 200px;

        #scorecard__verdict-label {
          font-weight: 600;
        }
      }
    }
  }

  #scorecard__share {

    #scorecard__share-label {
      margin: 1em 10px 1em 0;
      font-size: 1.3em;
      color: getColor('grey-tint3');
      display: inline-block;
    }

    .o-buttons.o-buttons--standout {
      background-color:#1da1f2;
      border:none;
      font-size: 20px;
      height: 36px;
      width: 70px;
      border-radius: 3px;
      font-weight: 500px;
    }
  }

}
